//@theme "/usr/share/rofi/themes/Arc-Dark.rasi"
//@theme "/usr/share/rofi/themes/Arc-Dark.rasi"
//@theme "/home/shakoh/.local/share/rofi/themes/squared-everforest.rasi"
@theme "/usr/share/rofi/themes/Monokai.rasi"
